@import "../App.module.scss";

.header {
  background-color: $accent-color;
}

.headerText {
  font-family: $futuraFont;
  text-transform: uppercase;
  color: white;
}

.headerIceberg {
  height: 100%;
  min-width: 40px;
}

.headerButton {
 @include pillButton;
}
