@import "..//App.module.scss";

$numOfScrollElements: 0;

@mixin hidden {
  display: none !important;
}

.fullPageNavBar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fullPageNavBarHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 1%;
  min-width: 10%;
  max-width: 50%;
}

.fullPageNavBarButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  max-width: 50%;
  min-width: 30%;
}

.fullPageNavBarDrawerButton {
  @include hidden;
}

.fullPageNavDrawer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 100;
  transition: 0.5s top ease;
  height: 100%;
  width: 100%;
  background-color: $accent-color;
}

.fullPageNavDrawer div {
  display: flex;
  flex-direction: column;
  min-height: 50%;
  max-height: 80%;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: $md) {
  .fullPageNavBarButtonContainer {
    @include hidden;
  }

  .fullPageNavBarDrawerButton {
    position: relative;
    z-index: 300;
    display: inline-block !important;
  }
}

@media (min-width: $md), (max-width: $lg) {
  .fullPageNavBarButtonContainer {
    min-width: 40%;
  }
}

.fullPageElement {
  width: 100vw;
}

.fullPageNav {
  @include navDotsContainer(".fullPageNavItem", ".fullPageNavItemActive");
  flex-direction: column;
  height: 100%;
  top: 0%;
  right: 2.5%;
}

.fullPageNav ul li {
  display: block;
}

.fullPageNav ul li a:hover {
  .fullPageNavItem {
    transform: scale(200%);
    transition: transform 0.3s ease-in-out;
  }

  .fullPageNavItemActive {
    transform: scale(100%);
    transition: none;
  }

  .fullPageNav ul li a:first-child {
    display: flex !important;
  }
}

.fullPageNavItem {
  @extend .navDot;
}

.fullPageNavItemActive {
  @extend .navDotActive;
}

.fullPageNavItemLabel {
  position: absolute;
  display: flex;
  align-items: center;

  height: 2rem;
  padding: 0 1.5rem;

  background-color: white;
  color: black;

  font-family: $futuraFont;
  text-transform: uppercase;

  // clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  border-radius: 1rem;
  transition: 0.3s right ease-in-out;
}

.fullPageNavItemLabelVisible {
  right: 1.5rem;
}

.fullPageContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: transform 700ms ease 0s;
}

a[id="about"]:target ~ #main {
  transform: translate3d(0px, -1251px, 0px);
}

// HAMBURGER STYLES - gotten from this excellent source here https://github.com/jonsuh/hamburgers

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--stand .hamburger-inner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    background-color 0s 0.075s linear;
}
.hamburger--stand .hamburger-inner::before {
  transition: top 0.075s 0.075s ease-in,
    transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--stand .hamburger-inner::after {
  transition: bottom 0.075s 0.075s ease-in,
    transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--stand.is-active .hamburger-inner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0s 0.15s linear;
}
.hamburger--stand.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out,
    transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--stand.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out,
    transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
