@import "..//App.module.scss";

$numOfScrollElements: 0;

.fullPageElement {
  width: 100vw;
}

.fullPageNav {
  @include navDotsContainer(".fullPageNavItem", ".fullPageNavItemActive");
  flex-direction: column;
  top: 50%;
  right: 2.5%;
}

// .fullPageNav ul {
//     padding: 0;
//     margin: 0;
// }

.fullPageNav ul li {
  display: block;
}

// .fullPageNav ul li a {
//     cursor: pointer;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     height: 100%;
//     width: 100%;
//     z-index: 1;
// }

.fullPageNav ul li a:hover {
  .fullPageNavItem {
    transform: scale(200%);
    transition: transform 0.3s ease-in-out;
  }

  .fullPageNavItemActive {
    transform: scale(100%);
    transition: none;
  }
}

.fullPageNavItem {
  @extend .navDot;
}

.fullPageNavItemActive {
  @extend .navDotActive;
}

.fullPageContainer {
  width: 100vw;
  height: 100vh;
  position: relative;
  transition: transform 700ms ease 0s;
}

a[id="about"]:target ~ #main {
  transform: translate3d(0px, -1251px, 0px);
}
