@import "../App.module.scss";

.ocean {
  height: 100%;
  width: 100%;
}

.waveSvg {
  position: absolute;
  z-index: -10;
}

.welcome {
  font-family: $bodyFont;
  font-size: 4rem;
  padding: 5% 7.5rem 0;
  text-align: center;
  color: white;

  position: absolute;
  text-shadow: grey 2px 5px;
  z-index: 10;
}

@media (max-width: $lg) {
  .welcome {
    padding: 10% 1rem 0;
    font-size: 2rem;
  }
}

.subheader {
  font-family: $bodyFont;
  font-size: 1.5rem;
  position: absolute;
  text-align: center;
  top: 6rem;
}