// COLORS

$background-color: #3e92cc;
$accent-color: #16324f;
$text-color: white;
$futuraFont: futuraOblique;
$bodyFont: "Space Grotesk";

// BREAKPOINTS
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 600px;

.App {
  text-align: center;
  width: 100vw;
}

.bodyText {
  font-family: "Space Grotesk", sans-serif;
  font-size: 48px;
  color: white;
}



@font-face {
  font-family: futuraOblique;
  src: url("../public/fonts/obliqueFutura.otf");
}

// overrides

h1,
h3,
h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}

html {
  box-sizing: border-box;
  overflow: hidden;
  font-size: 16px;
}

body {
  overflow: hidden;
}

@media (max-width: $lg) {
  html, body {
    overflow: visible;
  }
}

// GLOBAL STYLES

@mixin navDotsContainer(
  $inactiveDotClass: ".navDot",
  $activeDotClass: ".navDotActive"
) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  text-align: center;

  ul {
    padding: 0;
    margin: 0;
  }

  ul li {
    width: 20px;
    height: 20px;
    margin: 4px;
    position: relative;
  }

  ul li a,
  div {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  ul li a:hover,
  div:hover {
    #{$inactiveDotClass} {
      transform: scale(200%);
      transition: transform 0.3s ease-in-out;
    }

    #{$activeDotClass} {
      transform: scale(100%);
      transition: none;
    }
  }
}

.navDot {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 25%;
  width: 25%;
  border: 0;
  background: white;
}

.navDotActive {
  height: 75%;
  width: 75%;
}

@mixin divider($color: $background-color) {
  border-right: 4px solid $color;
  height: 100%;

  @media (max-width: $lg) {
    display: none;
  }
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin center {
  @include flexCol;
  align-items: center;
  justify-content: center;
}

@mixin borderRadius($size: 1rem) {
  border-radius: $size;
}

@mixin borderRadiusLg() {
  @include borderRadius(3rem);
}

@mixin borderRadiusSm() {
  @include borderRadius();
}

@mixin borderRadiusMd() {
  @include borderRadius(2rem);
}

@mixin pillButton {
  @include borderRadiusSm;
  @include flexRow;
  font-family: $futuraFont;
  text-transform: uppercase;
  color: white;
  width: 25%;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: linear-gradient(0deg, $background-color, $background-color)
    no-repeat right bottom / 0;
  transition: background-size 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-size: 1.5rem;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:where(:hover, :focus-visible) {
    background-size: 100%;
    background-position-x: left;
  }
}