@import "../App.module.scss";

.projectsContainer {
    @include sectionContainer;
    background-color: $background-color;
}


.projectContainer {
    @include flexRow;
    @include borderRadiusMd;
    font-family: $bodyFont;
    color: $accent-color;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 100%;
    overflow: hidden;
    background-color: white;
}

.projectDivider {
    @include divider($accent-color);
    margin: 0;
    height: 75%;
};

.projectButtons {
    @include flexRow;
    margin-top: 2rem;
    justify-content: space-around;
    min-width: 50%;
    max-width: 75%;
}

.projectName {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.projectNameAndButtons {
    @include flexCol;
    box-sizing: border-box;
    padding: 0 2rem;
    align-items: center;
    width: 50%;
}

.projectDetails {
    box-sizing: border-box;
    padding: 0 2rem;
    overflow: scroll;
    height: 90%;
    width: 50%;
}

.projectDescription {
    @include flexCol;
    white-space: normal;
    justify-content: safe center;
    width: 100%;
    height: 100%;
    line-height: 150%;
    font-size: 1.25rem;
}

@media (max-width: $lg) {
    .projectContainer {
        @include flexCol;
        height: 100%;
        width: 100%;
        justify-content: flex-start;
    }

    .projectName {
        margin-top: 1rem;
        font-size: 4vh;
    }

    .projectNameAndButtons {
        padding: 0;
        width: 100%;
    }

    .projectButtons {
        margin: 1rem 0;
    }

    .projectDetails {
        padding: 0;
        width: 85%;
    }

    .projectDescription {
        line-height: 125%;
        font-size: 2.5vh;
    }
}