@import "../App.module.scss";

.projectsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: $background-color;
}

.projectsHeader {
    font-family: $futuraFont;
}