@import "../App.module.scss";

.projectsContainer {
    @include sectionContainer;
    background-color: $background-color;
}


.projectContainer {
    @include flexRow;
    font-family: $bodyFont;
    color: $accent-color;
    justify-content: space-evenly;
    align-items: center;
    height: 75%;
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-radius: 3rem;
}

.projectDivider {
    @include divider($accent-color);
    margin: 0;
    height: 75%;
};

.projectButtons {
    @include flexRow;
    margin-top: 2rem;
    justify-content: space-around;
    width: 50%;
}

.projectButton {
    @include center;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    background-color: $accent-color;
 
    border-radius: 1.5rem;
}

.projectButton:hover {
    .projectButtonLogo {
        fill: $background-color;
    }
}

.projectButtonLogo {
    transition: 0.5s fill ease-in-out;
    height: 50%;
    width: 50%;
    fill: white;
}

.projectName {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.projectNameAndButtons {
    @include flexCol;
    align-items: center;
    width: 50%;
}

.projectDetails {
    @include flexCol;
    padding: 0 2rem;
    width: 50%;
}

.projectDescription {
    white-space: normal;
    overflow: scroll;
    width: 100%;
    line-height: 150%;
    font-size: 1.25rem;
}

@media (max-width: $lg) {
    .projectContainer {
        @include flexCol;
        height: 100%;
        width: 100%;
        justify-content: flex-start;
    }

    .projectName {
        margin-top: 1rem;
        white-space: normal;
        word-break: break-all;
        font-size: 4vh;
    }

    .projectNameAndButtons {
        width: 100%;
    }

    .projectButtons {
        margin: 1rem 0;
    }

    .projectButton {
        height: 3rem;
        width: 3rem;
        border-radius: 1rem;
    }

    .projectDetails {
        width: 85%;
    }

    .projectDescription {
        line-height: 125%;
        font-size: 2.5vh;
    }
}